<!-- ---
layout: default
title: Introduction
permalink: /introduction/
--- -->

<h4 id="introduction">Introduction</h4>

<p>
    <b>Protein-protein interactions (PPIs)</b> are fundamental to cellular function, governing key processes such as 
    signal transduction, gene regulation, and metabolic pathways. Understanding these interactions is crucial for 
    identifying disease mechanisms, discovering therapeutic targets, and advancing functional genomics.
</p>


<figure>
    <img src="{{ site.baseurl }}/assets/img/PPI_vis.jpg" alt="PPI-overview" width="80%">
    <figcaption><b>Figure 1:</b> Interactions between different proteins.</figcaption>
</figure>

<p>
    Traditional computational models for PPI prediction primarily rely on static datasets derived from high-throughput 
    experiments. However, these models face critical limitations, including their inability to incorporate 
    dynamic biological contexts, lack of multi-omics integration, and high computational costs when applied 
    to large-scale datasets. As a result, they often fail to capture tissue-specific interactions and may overlook 
    biologically significant but previously uncharacterized PPIs.
</p>

<p>
    <i>PPI-OMEGA</i> addresses these challenges by integrating multi-omics data into a Variational Graph Autoencoder (VGAE) 
    framework. Unlike conventional methods, our approach leverages both <b>RNA expression profiles</b> and <b>immunohistochemistry (IHC) 
    protein expression data</b> to refine PPI predictions. By embedding multi-omics features within a graph-based learning 
    architecture, <i>PPI-OMEGA</i> generates biologically meaningful representations of protein interactions.
</p>

<p>
    This study details our methodology, including data preprocessing, model architecture, and evaluation metrics. 
    Through an ablation study, we demonstrate that multi-omics integration significantly improves prediction accuracy, 
    with the combined RNA and protein expression model achieving the highest AUROC (0.9235) and AP (0.9318). 
    We also analyze the biological relevance of our learned protein embeddings, revealing their ability to distinguish 
    housekeeping and context-dependent proteins. Finally, we discuss the broader implications of our findings, particularly 
    in precision medicine, disease pathway analysis, and functional classification.
</p>

